body {
  height: 100%;
  background-color: #212121;
  color: rgb(224, 224, 224);
  text-align: center;
  font-size: 14px;
}

.App {
  
}

input,textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 8px 10px;
  background: #212121;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  resize: none;
  &::placeholder {
    color: white;
  }
}
.crypto-form {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  color: white;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  text-transform: uppercase;
  transition: .3s ease;
  &:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
}
.copy {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  background-color: #388E3C;
  padding: 7px;
}

.tips {
  // text-align: left;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 5px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}